
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes single-color {
  0%, 100% {
    color: black; /* Default or final color */
    transform: scale(1); /* Default size */
  }
  50% {
    color: red; /* The transition color */
    transform: scale(1.25); /* Increased size */
  }
}

.animate-single-color {
  animation: single-color 1200ms infinite;
  display: inline-block; /* Ensures transform applies correctly */
}
